* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 
 .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px;
     background-color: black;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
 }
 
 .header img{
    height: 50px;
    width: auto;
 }
 
 .nav-links ul {
     display: flex;
 }
 
 .nav-links ul li {
     list-style: none;
     padding: 0 20px;
     position: relative;
 }
 
 .nav-links ul li i {
     font-size: 25px;
 }
 
 .nav-links ul li a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 600;
     color: azure;
     transition: 0.3s ease;
 }
 
 .nav-links ul li a:hover,
 .nav-links ul li a.active {
     color: #32b1fa;
 }
 
 .nav-links ul li a.active::after {
     content: "";
     width: 30%;
     height: 2px;
     background-color: #32b1fa;
     position: absolute;
     bottom: -2px;
     left: 20px;
 }

 .logout-text {
    position: absolute;
    top: 150%;
    left: 0%;
    transform: translateY(-50%);
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
 }
 
 .login-container:hover .logout-text {
    opacity: 1;
    pointer-events: auto;
 }

 .content {
    width: 100%;
    height: calc(100vh - 147px);
    position: absolute;
    top: 20%;
    transform: translateY(-50);
    text-align: center;
 }

 .content h1 {
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
    color: rgb(39, 39, 39);
 }

 button {
    width: 200px;
    padding: 15px;
    margin: 20px 15px;
    text-align: center;
    border-radius: 25px;
    background-color: #32b1fa;
    color: aliceblue;
    border: 2px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
 }

 button:hover {
    background-color: #0060e6;
    transition: 0.5s;
    color: rgb(0, 0, 0);
 }

 .content video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
 }